@*@model MyMasterOrange.Models.RegisterViewModel

    @{
        ViewBag.Title = "Register";
    }

    <h2>@ViewBag.Title.</h2>

    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Create a new account.</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Register" />
            </div>
        </div>
    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />


<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />


<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />


@model MyMasterOrange.Models.RegisterViewModel

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <form method="post">
        <div class="col-md-8 container-fluid">
            @Html.AntiForgeryToken()
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                <label class="col-md-2 control-label">Full Name</label>
                <div class="col-md-10">
                    <input class="form-control" name="FullName" value="" />
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Phone</label>
                <div class="col-md-10">
                    <input class="form-control" name="PhoneNumber" value="" id="PhoneNumber" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">City</label>
                <div class="col-md-10">
                    <input class="form-control" name="UserCity" value="" id="UserCity" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Address</label>
                <div class="col-md-10">
                    <input class="form-control" name="UserAddress" id="UserAddress" value="" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Street</label>
                <div class="col-md-10">
                    <input class="form-control" name="UserStreet" id="UserStreet" value="" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">BuldingNO</label>
                <div class="col-md-10">
                    <input class="form-control" name="UserbuldingNO" id="UserbuldingNO" value="" />
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-primary" value="Register" />
                </div>
            </div>
        </div>

    </form>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}