@model IEnumerable<MyMasterOrange.Models.cart>

@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*<script>
        $(document).ready(function () {
            $(".product-quantity").change(function () {
                var productId = $(this).attr("id").split("-")[1];
                var quantity = $(this).val();
                var price = $("#total-price-" + productId).closest("td").prev().find("h5").text();
                var totalPrice = quantity * price;
                $("#total-price-" + productId).text(totalPrice);
            });
        });
    </script>*@

@*<h2>Cart</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AspNetUser.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.guest.session_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.product.product_name)
            </th>
            <th>

                @Html.DisplayNameFor(model => model.product.product_image1)
                @Html.DisplayNameFor(model => model.product.product_price)
                @Html.DisplayNameFor(model => model.product.product_name)




            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AspNetUser.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.guest.session_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.product.product_name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.cart_id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.cart_id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.cart_id })
                </td>
            </tr>
        }

    </table>*@


<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Shopping Cart</h1>
                <nav class="d-flex align-items-center">
                    <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="category.html">Cart</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<!--================Cart Area =================-->
<section class="cart_area">
    <div class="container">
        <div class="cart_inner">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">@Html.DisplayNameFor(model => model.product.product_name)</th>
                            <th scope="col">@Html.DisplayNameFor(model => model.product.product_price)</th>
                            <th scope="col">@Html.DisplayNameFor(model => model.product.product_quantity)</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        @*@foreach (var item in Model)
        {
            <tr>
                <td>
                    <div class="media">
                        <div class="d-flex">
                            <img style="width:200px" src="../Images/@Html.DisplayFor(model => item.product.product_image1)" alt="">
                        </div>
                        <div class="media-body">
                            <p>
                                @Html.DisplayFor(model => item.product.product_name)
                            </p>
                        </div>
                    </div>
                </td>
                <td>
                    <h5>@Html.DisplayFor(model => item.product.product_price)</h5>
                </td>
                <td>
                    <div class="product_count">
                        <input type="text" name="qty" id="sst-@item.product_id" maxlength="12" value="@Html.DisplayFor(modelItem => item.quantity)" title="Quantity:" class="input-text qty product-quantity" readonly>
                        <button onclick="var result = document.getElementById('sst-@item.product_id'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;"
                                class="increase items-count" type="button">
                            <i class="lnr lnr-chevron-up"></i>
                        </button>
                        <button onclick="var result = document.getElementById('sst-@item.product_id'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 0 ) result.value--;return false;"
                                class="reduced items-count" type="button">
                            <i class="lnr lnr-chevron-down"></i>
                        </button>
                    </div>
                </td>
                <td>
                    <h5 id="total-price-@item.product_id">@(item.product.product_price * item.quantity)</h5>
                </td>
                <td>
                    @Html.ActionLink("Remove", "DeleteC", "products", new { id = item.product_id }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }*@


                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <div class="media">
                                        <div class="d-flex">
                                            <img style="width:200px" src="../Images/@Html.DisplayFor(model => item.product.product_image1)" alt="">
                                        </div>
                                        <div class="media-body">
                                            <p>
                                                @Html.DisplayFor(model => item.product.product_name)
                                            </p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h5>@Html.DisplayFor(model => item.product.product_price)</h5>
                                </td>
                                <td>
                                    <div class="product_count">
                                        <input type="number" name="qty" id="sst-@item.product_id" maxlength="12" value="@Html.DisplayFor(modelItem => item.quantity)" title="Quantity:" class="input-text qty product-quantity" min="1" max="@ViewBag.ProductQuantity">
                                        <button onclick="var result = document.getElementById('sst-@item.product_id'); var sst = result.value; if( !isNaN( sst )) result.value++; calculateTotalPrice(@item.product.product_price, @item.product_id);return false;"
                                                class="increase items-count" type="button">
                                            <i class="lnr lnr-chevron-up"></i>
                                        </button>
                                        <button onclick="var result = document.getElementById('sst-@item.product_id'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 1 ) result.value--; calculateTotalPrice(@item.product.product_price, @item.product_id);return false;"
                                                class="reduced items-count" type="button">
                                            <i class="lnr lnr-chevron-down"></i>
                                        </button>
                                    </div>
                                </td>
                                <td>
                                    @*<h5 id="total-price-@item.product_id">@Html.DisplayFor(modelItem => item.product.product_price * item.quantity)</h5>*@
                                    <h5 id="total-price-@item.product_id">@(item.product.product_price * item.quantity)</h5>

                                </td>
                                <td>
                                    @Html.ActionLink("Remove", "DeleteC", "products", new { id = item.product_id }, new { @class = "btn btn-danger" })
                                </td>
                            </tr>
                        }

                        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                        <script>
                            function calculateTotalPrice(price, productId) {
                                var quantity = $("#sst-" + productId).val();
                                var totalPrice = price * quantity;
                                $("#total-price-" + productId).text(totalPrice);
                            }

                            $(document).ready(function () {
                                $(".product-quantity").change(function () {
                                    var productId = $(this).attr("id").split("-")[1];
                                    var price = parseFloat($("#total-price-" + productId).closest("td").prev().find("h5").text());
                                    calculateTotalPrice(price, productId);
                                });
                            });
                        </script>

                        @*<tr>
            <td>
                <div class="media">
                    <div class="d-flex">
                        <img src="img/cart.jpg" alt="">
                    </div>
                    <div class="media-body">
                        <p>Minimalistic shop for multipurpose use</p>
                    </div>
                </div>
            </td>
            <td>
                <h5>$360.00</h5>
            </td>
            <td>
                <div class="product_count">
                    <input type="text" name="qty" id="sst" maxlength="12" value="1" title="Quantity:"
                           class="input-text qty">
                    <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;"
                            class="increase items-count" type="button">
                        <i class="lnr lnr-chevron-up"></i>
                    </button>
                    <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 0 ) result.value--;return false;"
                            class="reduced items-count" type="button">
                        <i class="lnr lnr-chevron-down"></i>
                    </button>
                </div>
            </td>
            <td>
                <h5>$720.00</h5>
            </td>
        </tr>*@
                        @*<tr>
            <td>
                <div class="media">
                    <div class="d-flex">
                        <img src="img/cart.jpg" alt="">
                    </div>
                    <div class="media-body">
                        <p>Minimalistic shop for multipurpose use</p>
                    </div>
                </div>
            </td>
            <td>
                <h5>$360.00</h5>
            </td>
            <td>
                <div class="product_count">
                    <input type="text" name="qty" id="sst" maxlength="12" value="1" title="Quantity:"
                           class="input-text qty">
                    <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;"
                            class="increase items-count" type="button">
                        <i class="lnr lnr-chevron-up"></i>
                    </button>
                    <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 0 ) result.value--;return false;"
                            class="reduced items-count" type="button">
                        <i class="lnr lnr-chevron-down"></i>
                    </button>
                </div>
            </td>
            <td>
                <h5>$720.00</h5>
            </td>
        </tr>*@
                        <tr class="bottom_button">
                            <td>
                                @Html.ActionLink("Clear Cart", "ClearCart", "products", null, new { @class = "btn btn-danger" })
                            </td>

                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                                @*<div class="cupon_text d-flex align-items-center">
                    <input type="text" placeholder="Coupon Code">
                    <a class="primary-btn" href="#">Apply</a>
                    <a class="gray_btn" href="#">Close Coupon</a>
                </div>*@

                            </td>
                        </tr>

                        <tr>

                            @*<td>
                    <h5>Subtotal</h5>
                </td>
                <td>
                    <h5>$2160.00</h5>
                </td>
            </tr>
            <tr class="shipping_area">
                <td>
                </td>
                <td>
                </td>
                <td>
                    <h5>Shipping</h5>
                </td>
                <td>
                    <div class="shipping_box">
                        <ul class="list">
                            <li><a href="#">Flat Rate: $5.00</a></li>
                            <li><a href="#">Free Shipping</a></li>
                            <li><a href="#">Flat Rate: $10.00</a></li>
                            <li class="active"><a href="#">Local Delivery: $2.00</a></li>
                        </ul>
                        <h6>Calculate Shipping <i class="fa fa-caret-down" aria-hidden="true"></i></h6>
                        <select class="shipping_select">
                            <option value="1">Bangladesh</option>
                            <option value="2">India</option>
                            <option value="4">Pakistan</option>
                        </select>
                        <select class="shipping_select">
                            <option value="1">Select a State</option>
                            <option value="2">Select a State</option>
                            <option value="4">Select a State</option>
                        </select>
                        <input type="text" placeholder="Postcode/Zipcode">
                        <a class="gray_btn" href="#">Update Details</a>
                    </div>
                </td>
            </tr>
            <tr class="out_button_area">
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                    <div class="checkout_btn_inner d-flex align-items-center">
                        <a class="gray_btn" href="#">Continue Shopping</a>
                        <a class="primary-btn" href="#">Proceed to checkout</a>
                    </div>
                </td>
            </tr>*@
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</section>
<tr style="text-align:center">
    <td>
    </td>
    <td>
        <div class="checkout_btn_inner d-flex align-items-center  d-flex justify-content-center">
            <a class="gray_btn" href="#">Continue Shopping</a>
            <a class="primary-btn" href="#">Proceed to checkout</a>
        </div>
    </td>
</tr>
<!--================End Cart Area =================-->
@*<script>
        $(document).ready(function () {
            $(".product-quantity").change(function () {
                var quantity = $(this).val();
                var price = $(this).closest("tr").find("h5").text();
                var totalPrice = quantity * price;
                $(this).closest("tr").find("#total-price").text(totalPrice);
            });
        });
    </script>*@


@*<script>
    $(document).ready(function () {
        console.log("jQuery version: " + $.fn.jquery);
    });
</script>

<script>
    $(document).ready(function () {
        $(".product-quantity").change(function () {
            var productId = $(this).attr("id").split("-")[1];
            var quantity = $(this).val();
            var price = $("#total-price-" + productId).closest("td").prev().find("h5").text();
            var totalPrice = quantity * price;
            $("#total-price-" + productId).text(totalPrice);
        });
    });
</script>*@




<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $(".product-quantity").change(function () {
            var productId = $(this).attr("id").split("-")[1];
            var quantity = $(this).val();
            var price = parseFloat($("#total-price-" + productId).closest("td").prev().find("h5").text());
            var totalPrice = quantity * price;
            $("#total-price-" + productId).text(totalPrice);
        });
    });

</script>
